<h2>Lista de productos</h2>

<div class="mb-3">
  <button class="btn btn-primary" [routerLink]="['/productos/nuevo']">
    Nuevo Producto
  </button>
</div>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Precio</th>
      <th>Tipo</th>
      <th>Activo</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <!-- Aquí se repite para cada venta -->
    <tr *ngFor="let producto of productos">
      <td>{{ producto.id }}</td>
      <td>{{ producto.nombre }}</td>
      <td>{{ producto.tipo_producto }}</td>
      <td>{{ producto.precio }}</td>
      <td>
        <span *ngIf="producto.activo == 1" class="badge bg-success">Sí</span>
        <span *ngIf="producto.activo == 0" class="badge bg-danger">No</span>
      </td>
      <td>
        <button
          class="btn me-2 btn-primary"
          [routerLink]="['/productos', producto.id]"
        >
          Detalles
        </button>
        <button
          class="btn me-2 btn-warning"
          [routerLink]="['/productos', producto.id, 'editar']"
        >
          Editar
        </button>
        <button
          class="btn me-2 btn-danger"
          (click)="eliminarProducto(producto.id)"
        >
          Eliminar
        </button>
        <button
          *ngIf="producto.activo == 1"
          class="btn me-2 btn-secondary"
          (click)="cambiarProducto(producto)"
        >
          Desactivar
        </button>
        <button
          *ngIf="producto.activo == 0"
          class="btn me-2 btn-info"
          (click)="cambiarProducto(producto)"
        >
          Activar
        </button>
      </td>
    </tr>
  </tbody>
</table>
