<!-- formulario-venta.component.html y editar-venta.component.html son iguales -->
<h2>{{ titulo }}</h2>

<form (ngSubmit)="guardarVenta()" ngNativeValidate>
  <div class="row">
    <div
      class="d-flex flex-wrap mt-3 col-8"
      style="overflow: scroll; max-height: 550px"
    >
      <div
        class="col mb-2"
        style="min-width: 200px"
        *ngFor="let producto of productos; let i = index"
      >
        <div class="d-flex flex-column my-border border-4 bg-light ms-2 me-2 p-4 h-100"
             [ngStyle]="{
               'border-style': 'solid',
               'border-color': producto.color,
             }"
        >
         <div>
           <label class="fs-3">{{ producto.nombre }}</label>
         </div>


          <div class="mt-auto">
            <label class="fs-3"> <b> ₡ {{ producto.precio }} </b></label>

            <div class="d-flex">
              <button
                type="button"
                class="btn btn-md btn-primary col me-1 btn-symbol"
                style="font-size: 1.25rem"
                (click)="agregarProducto(i)"
              >
                +
              </button>
              <button
                type="button"
                class="btn btn-md btn-danger col ms-1 btn-symbol"
                style="font-size: 1.25rem"
                (click)="quitarProducto(i)"
              >
                -
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="mt-3 col-4 p-3">
      <div class="form-group col mb-3">
        <label>Cliente:</label>
        <input
          type="text"
          class="form-control form-select-lg"
          [(ngModel)]="venta.cliente"
          name="cliente"
        />
      </div>
      <div class="form-group">
        <table class="table table-bordered" style="font-size: 1.25rem">
          <thead>
            <tr>
              <th align="center">Cant</th>
              <th>Producto</th>
              <th>Precio</th>
            </tr>
          </thead>
          <tbody>
          <tr *ngFor="let producto of venta.productos; let i = index">
            <td align="center">{{ producto.cantidad }}</td>
            <td>{{ producto.nombre }}</td>
            <td align="right">₡ {{ producto.precio * producto.cantidad }}</td>
          </tr>
          </tbody>
        </table>

        <div class="form-group">
          <label id="totalTitle">Total:</label>
          <input
            type="number"
            class="form-control form-select-lg totalInput"
            [(ngModel)]="venta.total"
            name="total"
            readonly
          />
        </div>
        <div class="form-group col mb-3">
          <label>Forma de pago:</label>
          <select  required
                   name="id_tipo_pago"
                   id="id_tipo_pago"
                   [(ngModel)]="venta.id_tipo_pago"
                   class="form-select form-select-lg"
          >
            <option value="">Seleccione</option>
            <option value="1">Efectivo</option>
            <option value="2">Sinpe</option>
          </select>
        </div>
        <div class="form-group mt-2">
          <label>Paga con:</label>
          <input
            type="number"
            class="form-control form-select-lg"
            [(ngModel)]="venta.pagaCon"
            name="pagaCon"
            (ngModelChange)="calcularVuelto()"
          />
        </div>
        <div class="form-group mt-2">
          <label>Vuelto:</label>
          <input
            type="number"
            class="form-control form-select-lg"
            [(ngModel)]="venta.vuelto"
            name="vuelto"
            readonly
          />
        </div>

        <div class="mt-2 d-flex justify-content-evenly">
          <!-- Aquí puedes agregar campos adicionales como tipo de pago, lista de productos, etc. -->
          <button type="submit" class="btn btn-primary">
            {{ botonTexto }}
          </button>
          <button
            type="button"
            class="btn btn-warning"
            (click)="limpiarVenta()"
          >
            Limpiar
          </button>
        </div>
      </div>
    </div>
  </div>
</form>

<div #ticket class="d-none">
  <app-ticket [venta]="ventaPrint"></app-ticket>
</div>
