<!-- lista-ventas.component.html -->
<h2>Lista de Ventas</h2>

<div class="mb-3">
  <button class="btn btn-primary" (click)="nuevaVenta()">Nueva Venta</button>
</div>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Cliente</th>
      <th>Fecha</th>
      <th>Total</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <!-- Aquí se repite para cada venta -->
    <tr *ngFor="let venta of ventas">
      <td>{{ venta.id }}</td>
      <td>{{ venta.cliente }}</td>
      <td>{{ venta.fecha_venta }}</td>
      <td>₡ {{ venta.total }}</td>
      <td>
        <button
          class="btn me-2 btn-primary"
          [routerLink]="['/ventas', venta.id]"
        >
          Detalles
        </button>
        <!-- <button class="btn me-2 btn-warning">Editar</button> -->
        <button class="btn me-2 btn-danger">Eliminar</button>
      </td>
    </tr>
  </tbody>
</table>
