<h2>Total de ventas</h2>

<div class="row ps-3 pe-3 mt-3">
  <div class="border border-primary p-3 col-4 me-2">
    <h3 class="text-primary">Totales vendido</h3>
    <div class="d-flex flex-wrap mt-3">
      <div class="col mb-2" style="min-width: 200px">
        <div class="border border-4 bg-light ms-2 me-2 p-4 h-100">
          <label class="fs-3">Ventas totales</label>
          <br />
          <label class="fs-3"> ₡ {{ ventasTotales }}</label>
        </div>
      </div>
    </div>
  </div>

  <div class="border border-info p-3 ms-2 col">
    <h3 class="text-info">Totales por tipo pago</h3>
    <div class="d-flex flex-wrap mt-3">
      <div class="col mb-2" style="min-width: 200px">
        <div class="border border-4 bg-light ms-2 me-2 p-4 h-100">
          <label class="fs-3">Ventas totales efectivo</label>
          <br />
          <label class="fs-3"> ₡ {{ ventasEfectivo }} </label>
        </div>
      </div>
      <div class="col mb-2" style="min-width: 200px">
        <div class="border border-4 bg-light ms-2 me-2 p-4 h-100">
          <label class="fs-3">Ventas totales sinpe</label>
          <br />
          <label class="fs-3"> ₡ {{ ventasSinpe }} </label>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row ps-3 pe-3 mt-3">
  <div class="border border-warning p-3">
    <h3 class="text-warning">Totales por producto</h3>
    <div class="d-flex flex-wrap mt-3">
      <div
        class="col mb-2"
        style="min-width: 200px"
        *ngFor="let productoVendido of ventasProducto"
      >
        <div class="border border-4 bg-light ms-2 me-2 p-4 h-100">
          <label class="fs-3">{{ productoVendido.nombre }}</label>
          <br />
          <label class="fs-3"> ₡ {{ productoVendido.total }}</label>
        </div>
      </div>
    </div>
  </div>
</div>
